
h1 {
    text-align: center;

}

h2 {


    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;


}

.grid-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 300px;
    margin-right: 300px;
    overflow: scroll;
    max-height: 620px;
    overflow-x: hidden;
    overflow-y: auto;
    row-gap: 20px;
    margin-bottom: 20px;
}

.grid-line {
    border: 1px solid black; /* try border-left and border-right */
    width: 80%;

}

.grid-line:hover {
    background-color: #cf9cdc;

}