
h1 {

   color: #512940;

    font-size: 40px;
}

.centered {
    padding-top: 5rem;
    text-align: center;
}




label {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #512940;
    text-decoration: none;
}



li, a, button {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #512940;
    text-decoration: none;
}

header {
    background-color: #ceabaf;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}

.logo {
    cursor: pointer;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}


.nav__links li a:hover {
    color: brown
}

button {
    padding: 9px 25px;
    background-color: #512940;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: whitesmoke;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(212, 83, 24, 0.8);
}


