@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&family=Permanent+Marker&family=Rubik&family=Source+Code+Pro&display=swap');

h1 {

    color: red;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 40px;
}


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FCF6F5
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

}

button {

    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: black;
    background-color: antiquewhite;
    text-decoration: none;
    padding: 6px 20px;
    border-radius: 20px;

}

form {
    padding-left: 8px;
    padding-right: 8px;
}


.back {
    background-color: #a484de;
}

.front {
   background-color: #b8b5d7;
}


.card {
    width: 425px;
    height: 450px;
    margin-left: 40%;
    margin-top: 10%;
    padding-bottom: 20px;
    border: 4px solid    black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.card2{

    width: 425px;
    height: 450px;
    margin-left: 40%;
    margin-top: 10%;
    padding-bottom: 20px;
    border: 4px solid    black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


